body {
    padding: 0px;
    margin: 0px;
    background-color: #cccccc;
}

#options {
    border: 1px solid;
}

.option-button {
    padding: 5% 5%;
    text-align: center;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
    margin: 4px auto;
    -webkit-border-radius: 5px;
}

.option-button:hover {
    background-color: #aaaaaa;
    border: 1px #bbbbbb;
    box-shadow: 0px 0px 2px 0px #aaaaaa;
}